/* common Class */
.red{
    color: red;
}
.white{
    color: white;
}
.gray{
    color: gray;
}
.font-sm{
    font-size: 12px;
}
.font-md{
    font-size: 16px;
}
/* end Common Class */
.merchandise{
    width: 100%;
    transition: 0.4s;
}
.merchandise:hover{
    cursor: pointer;
    transform: scale(1.04);
}
.merchandise:focus{
    outline: none !important;
    border: none !important;
}
.merchandise:hover{
    cursor: pointer;
}
.merchandise-name{
    font-size: 16px;
    font-weight: bold;
}
.cost{
    font-size: 14px;
}
/* .content{
    height: 150px;
} */
.content-img{
    height: 120px;
}
.content-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 5px #151615;
    border-radius: 8px;
}
.delivery{
    padding: 1px 10px;
    box-sizing: border-box;
    background: rgb(43, 185, 233);
    border-radius: 15px;
    box-shadow: 0 0 3px #151615;
    width: fit-content;
}