.header{
    background: url("../../../../assets/Image/header.jpg") no-repeat;
    background-size: cover;
}
.transparent{
    background: rgba(255, 255, 255, 0.205);
    border-bottom: 1px solid rgba(238, 238, 238, 0.473);
}
.logo{
    font-size: 25px;
    font-weight: bold;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
    color: #343434;
}
.nav-item a{
    color: black;
    font-size: 15px;
}
.headerIcon{
    font-size: 12px;
    padding: 2px 10px;
}
.headerIcon i{
    font-size: 18px;
    font-weight: bold;
}
.loginBtn{
    padding: 10px 15px;
    font-size: 15px;        
}
.loginBtn:hover{
    cursor: pointer;
}
.navbar .dropdown-item{    
    box-sizing: border-box;
    cursor: pointer;
    transition: 0.1s ease-in;
    padding: 10px 15px;
}
.navbar .dropdown-item:not(.chats p):hover{
    background: rgba(231, 4, 4, 0.726);
}
.navbar .dropdown-menu{
    padding: 0 !important;
}
.children{
    margin-left: -2px;
}
.input-group{
    height: 50px;
}
.input-group input{
    border-right: 0 !important;
    height: 50px;
}
.input-group-text{
    background: transparent;
    color: red;
}
.input-group-text:hover{
    cursor: pointer;
}
.modal .avatar{
    background: url("../../../../assets/icon/avatar.png");
    background-size: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    box-shadow: 1px 1px 9px #151615;
    margin-top: -70px !important;
}
.facebook{
    font-size: 30px;
    color: blue;
}
.loginWith button{
    border-color: #333;
    width: 75%;
    text-align: left;
    box-shadow: 0 0 4px #151615;
}
.loginWith button:hover{
    background:#eee;
    border-color: #bbb;
}
.loginWith button img{
    width: 25px;
    height: 25px;
}
.createOne{
    color: red;
    font-weight: bold;
}
.createOne:hover{
    cursor: pointer;
    text-decoration: underline;
}
.agreement span{
    color: rgb(6, 6, 177);
    font-weight: bold;
}
.agreement span:hover{
    cursor: pointer;
    text-decoration: underline;
}
.signWith .form-group{
    width: 75%;
}
.signWith input{
    padding: 25px;
}
.signWith button{
    width: 75%;
    height: 50px;
}
.headerRight .nav-link:hover{
    cursor: pointer;
    color: rgb(212, 5, 50);
}
.outline-none{
    outline: none;
    border: none;
}
.column-3{
    column-count: 3;
}
.column-2{
    column-count: 2;
}
.right{
    right: 100%;
}
.left{
    left: 275%;
}
.active{
    background: rgba(231, 4, 4, 0.726);
}
.activeRoute{
    color: red !important;
    font-weight: bold;
}
.notification .dropdown-menu{
    width: 320%;
    overflow: auto;
}
.notification .avatar{
    width: 60px !important;
    height: 60px !important;
}
.notification .avatar img{
    object-fit: cover;
    width: 60px;
    height: 60px;
}
.notification .dropdown-item:hover{
    background: lightcyan !important;
}

.chats{
    position: absolute;
    top: 50px;
    left: -100px;
    width: 300%;
    padding: 20px;
    box-shadow: 0 1px 15px #14141454;
    z-index: 100;
    border-radius: 8px;
}
.border-bottom{
    border-bottom: 1px solid #eee;
}
:focus{
 outline:  none !important;
}
:active{
    background: white;
}
.nav-item:hover{
    cursor: pointer;
}
.megasubmenu{
    max-height: 480px;
    overflow-y: auto;
    overflow-x: hidden;
}
.megasubmenu li:hover{
    background:  rgba(231, 4, 4, 0.726);
}
#main_nav .nav-link:hover{
    color:red !important;
    font-weight: 600 !important;
}
@media (min-width: 992px) {

    .dropdown-menu .dropdown-toggle:after {
        border-top: .3em solid transparent;
        border-right: 0;
        border-bottom: .3em solid transparent;
        border-left: .3em solid;
    }

    .dropdown-menu {
        margin: 0;
    }

    .megasubmenu {
        left: 100%;
        top: 0;
        min-height: 100%;
        min-width: 250px;
    }

    .dropdown-menu>li:hover .megasubmenu {
        display: block;
    }
}