<nav class="navbar navbar-expand-lg navbar-light bg-warning">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#demo-navbar"
        aria-controls="demo-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="demo-navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href=""  id="furniture" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Furniture
            </a>
                <div class="dropdown-menu" aria-labelledby="furniture">
                    <a class="dropdown-item" routerLink="furniture" routerLinkActive="active"> View All </a>
                    <a class="dropdown-item" href=""> Armoires & Wardrobes </a>
                    <a class="dropdown-item" href=""> Beds & Bed Sets </a>
                    <a class="dropdown-item" href=""> Bookcases </a>
                    <a class="dropdown-item" href=""> Cabinets & Cupboards </a>
                    <a class="dropdown-item" href=""> Chairs, Benches & Stools </a>
                    <a class="dropdown-item" href=""> Childrens Furniture </a>
                    <a class="dropdown-item" href=""> Dining Sets </a>
                    <a class="dropdown-item" href=""> Dressers & Vanities </a>
                    <a class="dropdown-item" href=""> Entertainment Centers </a>
                    <a class="dropdown-item" href=""> Kitchen Islands & Carts </a>
                    <a class="dropdown-item" href=""> Nightstands </a>
                    <a class="dropdown-item" href=""> Office Furniture </a>
                    <a class="dropdown-item" href=""> Sofas, Futons, & Lounges </a>
                    <a class="dropdown-item" href=""> Tables </a>
                    <a class="dropdown-item" href=""> Other </a>
                </div>                
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="" id="home_accessories" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Home<br> Accessories
                </a>
                <div class="dropdown-menu" aria-labelledby="home_accessories">
                    <a class="dropdown-item" routerLink="home" routerLinkActive="active"> View All </a>
                    <a class="dropdown-item" href=""> Bath Accessories </a>
                    <a class="dropdown-item" href=""> Bedding & Bed Accessories </a>
                    <a class="dropdown-item" href=""> Garden Decor & Accessories </a>
                    <a class="dropdown-item" href=""> Home Decor & Accents </a>
                    <a class="dropdown-item" href=""> Housekeeping </a>
                    <a class="dropdown-item" href=""> Kitchen & Dining </a>
                    <a class="dropdown-item" href=""> Other </a>
                </div>                
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="garden_outdoor" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Garden &<br> Outdoor
                </a>
                <div class="dropdown-menu" aria-labelledby="garden_outdoor">
                    <a class="dropdown-item"  routerLink="garden" routerLinkActive="active"> View All </a>
                    <a class="dropdown-item" href=""> Garden Accessories </a>
                    <a class="dropdown-item" href=""> Garden Decor </a>
                    <a class="dropdown-item" href=""> Garden Furniture </a>
                    <a class="dropdown-item" href=""> Garden Structures & Fences </a>
                    <a class="dropdown-item" href=""> Jacuzzis & Pools </a>
                    <a class="dropdown-item" href=""> Plants </a>
                    <a class="dropdown-item" href=""> Other </a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="lighting_fans" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Lighting &<br> Fans
                </a>
                <div class="dropdown-menu" aria-labelledby="lighting_fans">
                    <a class="dropdown-item"  routerLink="lighting" routerLinkActive="active"> View All </a>
                    <a class="dropdown-item" href=""> Ceiling Fans </a>
                    <a class="dropdown-item" href=""> Lamps </a>
                    <a class="dropdown-item" href=""> Light Fixtures </a>
                    <a class="dropdown-item" href=""> Stand Fans </a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="rug_carpets" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rugs &<br> Carpets
                </a>
                <div class="dropdown-menu" aria-labelledby="rug_carpets">
                    <a class="dropdown-item"  routerLink="rugs" routerLinkActive="active"> View All </a>
                    <a class="dropdown-item" href=""> Abstract/Modern </a>
                    <a class="dropdown-item" href=""> Animal Skin </a>
                    <a class="dropdown-item" href=""> Asian </a>
                    <a class="dropdown-item" href=""> Children </a>
                    <a class="dropdown-item" href=""> European/Classical </a>
                    <a class="dropdown-item" href=""> Middle Eastern/Indian </a>
                    <a class="dropdown-item" href=""> Solid Color </a>
                    <a class="dropdown-item" href=""> Other </a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="curtains_blinds" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Curtains &<br> Blinds
                </a>
                <div class="dropdown-menu" aria-labelledby="curtains_blinds">
                    <a class="dropdown-item"  routerLink="curtains" routerLinkActive="active"> View All </a>
                    <a class="dropdown-item" href=""> Curtains & Drapes </a>
                    <a class="dropdown-item" href=""> Fabric Blinds </a>
                    <a class="dropdown-item" href=""> Wooden/Plastic Blinds </a>
                    <a class="dropdown-item" href=""> Other </a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" href="#" id="tools_home" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tools & Home <br> Improvement
                </a>
                <div class="dropdown-menu" aria-labelledby="tools_home">
                    <a class="dropdown-item"  routerLink="tools" routerLinkActive="active"> View All </a>
                    <a class="dropdown-item" href=""> Hand Tools </a>
                    <a class="dropdown-item" href=""> Hardware </a>
                    <a class="dropdown-item" href=""> Plumbing, Electrical & Air </a>
                    <a class="dropdown-item" href=""> Power Tools </a>
                </div>
            </li>
        </ul>
    </div>
</nav>