<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-6">
            <div class="searchBox my-5 text-center">
                <div class="job_nav mx-auto">
                    <div class="py-3">
                        <span style="font-size: 14px;">Not actively looking for a career change? </span>
                        <span class="btn btn-danger">Upload CV</span>
                    </div>
                </div>
                <h1 class="white title mt-4">Start your job pursuit here and be seen <br> by recruiters</h1>
                <div class="pb-5 mt-4"><input type="search" class="search" placeholder="Enter Keyword..."></div><br><br>
            </div>
        </div>
    </div>
    <div class="row mb-5 listGroup">
        <div class="col-lg-2 col-md-4 col-sm-6 pr-0 mb-2">
            <div class="py-3 text-center listBox container">
                <h5 class="font-weight-bold mb-0"> ACCOUNTING </h5>
                <h3 class="font-weight-bold mb-0"> 0 </h3>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pr-0 mb-2">
            <div class="py-3 text-center listBox container">
                <h5 class="font-weight-bold mb-0"> CUSTOMER SERVICE </h5>
                <h3 class="font-weight-bold mb-0"> 0 </h3>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pr-0 mb-2">
            <div class="py-3 text-center listBox container px-0">
                <h5 class="font-weight-bold mb-0">HOSPITALITY & RESTAURANTS</h5>
                <h3 class="font-weight-bold mb-0"> 4 </h3>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pr-0 mb-2">
            <div class="py-3 text-center listBox container">
                <h5 class="font-weight-bold mb-0"> SALES </h5>
                <h3 class="font-weight-bold mb-0"> 1 </h3>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pr-0 mb-2">
            <div class="py-3 text-center listBox container">
                <h5 class="font-weight-bold mb-0"> SECRETARIAL</h5>
                <h3 class="font-weight-bold mb-0"> 0 </h3>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pr-0 mb-2">
            <div class="py-3 text-center listBox container">
                <h5 class="font-weight-bold mb-0"> TRANSPORTATION</h5>
                <h3 class="font-weight-bold mb-0"> 0 </h3>
            </div>
        </div>
    </div>
    <div class="list-title text-dark mb-3">Featured Listings</div>
    <div class="d-flex form-inline mb-4">
        <div class="featured">
            <h6 class="gray mb-0"> job </h6>
            <div class="dropdown-divider"></div>
            <h6 class="gray mb-0"> ACCOUNTING </h6>
            <h5 class="font-weight-bold font-13 mb-0">Admin Cum Accountant(Female)</h5>
            <h5 class="mb-0">We are looking for female admin for perf...</h5>
            <h6 class="gray"> 1-2 Years</h6>
        </div>
        <div class="featured">
            <h6 class="gray mb-0"> job </h6>
            <div class="dropdown-divider"></div>
            <h6 class="gray mb-0"> Sales </h6>
            <h5 class="font-weight-bold font-13 mb-0">A Company in Dubai Required Casher/Sales</h5>
            <h5 class="mb-0">Share Your CV to Smartgroupmaintenan...</h5>
            <h6 class="gray"> 0-1 Years</h6>
        </div>
        <div class="featured">
            <h6 class="gray mb-0"> job </h6>
            <div class="dropdown-divider"></div>
            <h6 class="gray mb-0"> Hospitality & Restaurants </h6>
            <h5 class="font-weight-bold font-13 mb-0">Bartender/barista/waiter</h5>
            <h5 class="mb-0">we are recruiting waiter /barista /barten...</h5>
            <h6 class="gray"> 5-10 Years</h6>
        </div>
        <div class="featured">
            <h6 class="gray mb-0"> job </h6>
            <div class="dropdown-divider"></div>
            <h6 class="gray mb-0"> Transportation </h6>
            <h5 class="font-weight-bold font-13 mb-0">Delivery Courier</h5>
            <h5 class="mb-0">Looking for experience driver who has ex...</h5>
            <h6 class="gray"> 1-2 Years</h6>
        </div>
        <div class="featured">
            <h6 class="gray mb-0"> job </h6>
            <div class="dropdown-divider"></div>
            <h6 class="gray mb-0"> Secretarial </h6>
            <h5 class="font-weight-bold font-13 mb-0">Accountant cum Assistant to CEO (Female)</h5>
            <h5 class="mb-0">1) Must have Graduation in finance and A...</h5>
            <h6 class="gray"> 2-5 Years</h6>
        </div>
    </div>
    <div class="row justify-content-between mb-3">
        <div class="list-title text-dark">Latest news from Salman</div>
        <a class="red text-decoration-none all-blog" href="">All in Salman blog <i
                class="red fa fa-long-arrow-right"></i></a>
    </div>
    <div class="row p-0 mb-5">
        <div class="col-lg-3 col-md-6 col-sm-12 py-2 mx-0 carbox">
            <div class="card-body p-0">
                <img class="img-responsive rounded" src="./../../../../assets/Image/job/4.png"
                    width="100%">
                <div class="">
                    <div class="card-title">
                        <h3 class="font-weight-bold mb-0"> 5 tips for photographing the pr... </h3>
                    </div>
                    <div class="card-text mb-3"> Aug. 3. 2020</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 py-2 mx-0 carbox">
            <div class="card-body p-0">
                <img class="img-responsive rounded"
                    src="./../../../../assets/Image/job/Employee-insurance-scheme-to-replace-bank-guarantees-in-the-UAE.png" width="100%">
                <div class="">
                    <div class="card-title">
                        <h3 class="font-weight-bold mb-0"> 7 ways to make some extra... </h3>
                    </div>
                    <div class="card-text mb-3"> jul. 27. 2020</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 py-2 mx-0 carbox">
            <div class="card-body p-0">
                <img class="img-responsive rounded"
                    src="./../../../../assets/Image/job/Image13.jpg" width="100%">
                <div class="">
                    <div class="card-title">
                        <h3 class="font-weight-bold mb-0"> The New, The Fresh & The Ori... </h3>
                    </div>
                    <div class="card-text mb-3"> jul. 7. 2020</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 py-2 mx-0 carbox">
            <div class="card-body p-0">
                <img class="img-responsive rounded" src="./../../../../assets/Image/job/shutterstock_378771547.jpg"
                    width="100%">
                <div class="">
                    <div class="card-title">
                        <h3 class="font-weight-bold mb-0"> Dubai trafic rules and regula... </h3>
                    </div>
                    <div class="card-text mb-3"> Aug. 3. 2020</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 app-banner border-radius ml-1">
        <div class="col-sm-3 py-3">
            <span style="font-size: 18px">Find amazing deals on the go.</span>
            <p class="red" style="font-size: 18px"> Download the app now!</p>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-5 mx-auto py-4 text-center">
            <img src="../../../../assets/icon/appstore.png" class="img-responsive mx-4">
            <img src="../../../../assets/icon/googleplay.png" class="img-responsive">
        </div>
    </div>
</div>