.searchBox{
    background: url("./../../../../assets/Image/job/main.png");
    background-size: cover;
    border-radius: 8px;
    box-shadow: 0 0 5px #151515;
}
.job_nav{
    width: 100%;
    color: white;
    background: #151615d3;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.title{
    font-size: 34px;
    line-height: 1.5;
    text-shadow: 0 0 5px #151515;
}
.white{    
    color: white;
}
.red{
    color: red;
}
.blue{
    color: blue;
}
.gray{
    color: gray;
}
.font-13{
    font-size: 13px !important;
}
.search{
    background: rgba(255, 255, 255, 0.623);
    padding: 0 10px;
    font-size: 20px;
    width: 60%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 8px;
    box-shadow: 0 0 1px 8px #151515c2;
}
.listBox{
    box-shadow: 0 0 5px #151515;
    border-radius: 10px;
}
.listGroup .listBox{
    height: 80px;
}
.listings .listBox{
    height: 150px;
}
.listBox:hover{
    cursor: pointer;
}
.list-title{
    font-size: 28px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    color: black;
}
.listings img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.featured{
    width: 20%;
    height: 180px;
    min-width: 220px;
    padding: 10px;
    box-sizing: border-box;
    transition: 0.2s;
}
.featured:hover{
    box-shadow: 0 15px 10px #15161542;
    cursor: pointer;
}
.carbox:hover{
    cursor: pointer;
    box-shadow: 0 5px 10px #1516152d;
    border-radius: 10px;
    transition: 0.2s;
}
.card-body img{
    box-shadow: 0 0 5px #151615;
}
.testimonial{
    box-shadow: 0 0 5px #151615;
    border-radius: 10px;
}
.testimonial-font{
    font-size: 20px;
}
.app-banner{
    background:url("../../../../assets/Image/motors/testimonials/app-banner.png") no-repeat;
    background-size: cover;
    box-shadow: 0 0 5px #151615;
}
.app-banner img:hover{
    cursor: pointer;
    box-shadow: 0 0 6px 1px rgb(6, 4, 114);
    border-radius: 5px;
}
.border-radius{
    border-radius:10px;
}
.all-blog{
    font-weight: bold;
}
.all-blog:hover{
    color: black;
}