<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-6">
            <div class="searchBox my-5 text-center">
                <h1 class="white title">Your favorite place for great deals on secondhand items</h1>
                <input type="search" class="search" placeholder="Enter Keyword...">
            </div>
        </div>
    </div>
    <div class="row mb-5 listGroup">
        <div class="col-lg-2 col-md-4 col-sm-6 pr-0 mb-2" *ngFor="let Banner of BannerArr">
            <div class="py-3 text-center listBox container" [routerLink] = "['/classified/', Banner.id]">
                <h5 class="font-weight-bold mb-0"> {{Banner.name}} </h5>
                <h3 class="font-weight-bold mb-0">{{Banner.amount}}</h3>
            </div>
        </div>
    </div>
    <div class="list-title text-dark mb-3">Featured Listings</div>
    <div class="row mb-5 listings mx-auto">
        <div class="col-lg-2 col-md-4 col-sm-6 pr-0 mb-2" *ngFor = "let Featured of FeaturedArr">
            <div class=" text-center listBox" [routerLink]="['/product_detail', Featured.id]">
                <img class="img-responsive" src="{{Featured.src}}"
                    width="100%">
            </div>
        </div>
    </div>
    <div class="row justify-content-between mb-3">
        <div class="list-title text-dark">Latest news from Salman</div>
        <a class="red text-decoration-none all-blog" href="">All in Salman blog <i class="red fa fa-long-arrow-right"></i></a>
    </div>
    <div class="row p-0 mb-5">
        <div class="col-lg-3 col-md-6 col-sm-12 py-2 mx-0 carbox" *ngFor="let LatestNew of LatestNewsArr">
            <div class="card-body p-0" [routerLink] = "['/product_detail', LatestNew.id]">
                <img class="img-responsive rounded" src="{{LatestNew.src}}" width="100%">
                <div class="">
                    <div class="card-title">
                        <h3 class="font-weight-bold mb-0"> 5 tips for photographing the pr... </h3>
                    </div>
                    <div class="card-text mb-3"> Aug. 3. 2020</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 app-banner border-radius ml-1">
        <div class="col-sm-3 py-3">
            <span style="font-size: 18px">Find amazing deals on the go.</span>
            <p class="red" style="font-size: 18px"> Download the app now!</p>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-5 mx-auto py-4 text-center">
            <img src="../../../../assets/icon/appstore.png" class="img-responsive mx-4">
            <img src="../../../../assets/icon/googleplay.png" class="img-responsive">
        </div>
    </div>
</div>