/* common classes */
.radius-normal{
    border-radius: 10px;
}
.checkbox{
    width: 20px;
    height: 20px;
}
.black{
    color: black;
}
/* common classes end */
.leftSearchBox{
    width: 100%;
    height: fit-content;
    background: #eee;
}
.accordion .fa{
    margin-right: 0.5rem;
}
.card{
    background-clip: unset;
    background-color: #eee;
    border: 0;
}
.card-header{
    background: #eee;
}
.card-body{
    background: #eee;
}
.custom-select{
    font-size: 14px !important;
}
.form-control{
    font-size: 14px !important;
}