<div class="mt-5 text-center">
    <p class="pt-5 m-4 h1">Join dubbizle New Projects</p>
    <p class="h6">Linking investors and buyers with off-plan <br> projects in the UAE</p>
    <div class="mac_desktop">
        <img class="img-responsive" width="70%" src="../../../../../assets/Image/newproject/macbook_desktop.png">
    </div>
</div>
<div class="container-fluid bg-red text-center">
    <p class="text-light h1 mt-5">Why work with us?</p>
    <div class="row p-5 mx-5">
        <div class="col-md-4 text-center">
            <div class="mx-1 bg-light p-3">
                <p class="red h1">100,000+</p>
                <p class="">unique buyers per month</p>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="mx-1 bg-light p-3">
                <p class="red h1">350+</p>
                <p class="">projects hosted on the platform</p>
            </div>
        </div>
        <div class="col-md-4 text-center">
            <div class="mx-1 bg-light p-3">
                <p class="red h1">2,000+</p>
                <p class="">contacts with developers via the platform</p>
            </div>
        </div>
    </div>
    <div class="">
        <button class="btn btn-light px-3 red">List my project </button>
    </div>
</div>
<div class="container-fluid my-5">
    <p class="h1 text-center"> How can I become a partner?</p>
    <div class="row">
        <div class="offset-3">
            <div class="d-flex my-3">
                <span class="badge badge-light rounded-circle"> <i class="fa fa-envelope-o p-4"
                        style="font-size: 45px"></i></span>
                <span class="mx-2">
                    <p class="h5 mt-4">Get in contact with us below</p>
                    <p class="h6">Just fill your name and contacts</p>
                </span>
            </div>
            <div class="d-flex my-3">
                <span class="badge badge-light rounded-circle"> <i class="fa fa-building p-4"
                        style="font-size: 45px"></i></span>
                <span class="mx-2">
                    <p class="h5 mt-4">The dubizzle team will be in touch soon</p>
                    <p class="h6">Adding your project is free</p>
                </span>
            </div>
        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-border-red px-2 red">I want to become a partner</button>
    </div>
</div>
<div class="container-fluid bg-red">
    <p class="h1 text-center text-light m-3">Contact us</p>
    <div class="row mx-0">
        <div class="col-md-3 mx-0">
            <img src="../../../../../assets/Image/newproject/earth_left.png" class="img-responsive" width="100%">
        </div>
        <div class="col-md-6">
            <div class="row bg-light rounded p-3">
                <div class="col-md-6 py-3">
                    <input type="text" class="form-control mb-2" placeholder="Name">
                    <input type="email" class="form-control mb-2" placeholder="E-mail">
                    <input type="tel" class="form-control mb-2" placeholder="Phone Number">
                </div>
                <div class="col-md-6 py-3">
                    <textarea rows="6" class="w-100 p-2" placeholder="Type your comment or question here"></textarea>
                    <button class="btn btn-border-red red px-5">Submit</button>
                </div>
            </div>
            <div class="my-5 p-5 rounded text-light text-center bg-darkred">
                <p class="h4">Or give us a call</p>
                <p class="h2">+971 559 886 883</p>
            </div>
        </div>
        <div class="col-md-3 mx-0">
            <img src="../../../../../assets/Image/newproject/earth_right.png" class="img-responsive" width="100%">
        </div>
    </div>
</div>