<div class="m-5">
    <div class="row top-leader"></div>
    <div class="row">
        <div class="col-sm-5 col-md-3 my-3 leftSearchBox radius-normal">
            <h3 class="mb-0  mt-3 font-weight-bold"> Search </h3>
            <div class="my-2">
                <select class="custom-select">
                    <option value="" *ngFor="let City of AllCitiesArr"> {{City}} </option>
                </select>
            </div>
            <div class="my-2">
                <select class="custom-select">
                    <option value="" *ngFor="let SideNav of SideNavListArr">{{SideNav}}</option>
                </select>
            </div>
            <div class="my-2">
                <select class="custom-select">
                    <option value="" *ngFor="let Merchandise of MerchandiseListArr">{{Merchandise}}</option>
                </select>
            </div>
            <div class="my-2">
                <select class="custom-select">
                    <option value="" *ngFor="let Cars of CarListArr">{{Cars}}</option>
                </select>
            </div>
            <div class="">
                <h3 class="mb-0 font-weight-bold"> Price (AED) </h3>
                <div class="d-flex justify-content-between">
                    <input type="number" class="form-control col-5" placeholder="Price form">
                    <span class="mt-2" style="font-size: 34px"> - </span>
                    <input type="number" class="form-control col-5" placeholder="Price to">
                </div>
            </div>

            <div class="">
                <h3 class="mb-0 font-weight-bold"> Year </h3>
                <div class="d-flex justify-content-between">
                    <input type="number" class="form-control col-5" placeholder="Year from">
                    <span class="mt-2" style="font-size: 34px"> - </span>
                    <input type="number" class="form-control col-5" placeholder="Year to">
                </div>
            </div>

            <div class="">
                <h3 class="mb-0 font-weight-bold"> Kilometers </h3>
                <div class="d-flex justify-content-between">
                    <input type="number" class="form-control col-5" placeholder="KM from">
                    <span class="mt-2" style="font-size: 34px"> - </span>
                    <input type="number" class="form-control col-5" placeholder="KM to">
                </div>
            </div>

            <h3 class="my-2 font-weight-bold"> Seller type </h3>
            <div class="my-2">
                <select class="custom-select">
                    <option value="" *ngFor="let Seller of SellerTypeArr">{{Seller}}</option>
                </select>
            </div>

            <h3 class="my-2 font-weight-bold"> Badges </h3>
            <div class="form-group d-flex align-middle" *ngFor="let Badges of BadgesArr">
                <input type="checkbox" class="checkbox">
                <a class="mx-2 black text-decoration-none">
                    {{Badges}} </a>
            </div>

            <h3 class="my-2 font-weight-bold"> CarReport </h3>
            <div class="form-group d-flex align-middle">
                <input type="checkbox" class="checkbox">
                <a class="mx-2 black text-decoration-none" href=""> Show ads with CarReport </a>
            </div>

            <h3 class="my-2 font-weight-bold"> Content Language </h3>
            <div class="form-group d-flex align-middle">
                <input type="checkbox" class="checkbox">
                <a class="mx-2 black text-decoration-none" href=""> Show English abs only </a>
            </div>

            <h3 class="my-2 font-weight-bold"> Keywords </h3>
            <div class="form-group">
                <input type="search" class="form-control">
                <button class="btn btn-danger my-3 btn-block">Search</button>
            </div>
            <div class="accordion mb-3" id="advanceOption">
                <div class="card">
                    <div class="card-header p-0" id="options">
                        <h2 class="mb-0">
                            <button type="button"
                                class="btn btn-block black text-decoration-none btn-link d-flex justify-content-between"
                                data-toggle="collapse" data-target="#collapseOne">
                                <span>Advance Options</span><i class="fa fa-plus my-auto"></i>
                            </button>
                        </h2>
                    </div>
                    <div id="collapseOne" class="collapse" aria-labelledby="options" data-parent="#advanceOption">
                        <div class="card-body p-0">
                            <h3 class="my-2"> Neighborhoods </h3>
                            <div class="form-group">
                                <input type="search" class="form-control" placeholder="Select Neighborhoods...">
                            </div>
                            <div class="group " id="">
                                <h3 class="mb-0  mt-3"> Auto Agent </h3>
                                <input type="search" class="form-control" placeholder="Select Auto Agents">
                            </div>
                            <div class="group " id="">
                                <h3 class="mb-0  mt-3"> Ads posted </h3>
                                <select id="" class="custom-select" name="">
                                    <option value="" *ngFor="let Time of TimeListArr">{{Time}}</option>
                                </select>
                            </div>
                            <h3 class="my-2 font-weight-bold"> Body Type </h3>
                            <div class=" sidebar-item-max-height p-3">
                                <div class="form-group d-flex align-middle" *ngFor="let BodyType of BodyTypeArr">
                                    <input type="checkbox" class="checkbox">
                                    <a class="mx-2 black text-decoration-none">
                                        {{BodyType}} </a>
                                </div>
                            </div>
                            <h3 class="my-2 font-weight-bold"> Doors </h3>
                            <div class=" sidebar-item-max-height p-3">
                                <div class="form-group d-flex align-middle" *ngFor="let Door of DoorsArr">
                                    <input type="checkbox" class="checkbox">
                                    <a class="mx-2 black text-decoration-none">
                                        {{Door}} </a>
                                </div>
                            </div>
                            <h3 class="my-2 font-weight-bold"> No.of Cylinders </h3>
                            <div class=" sidebar-item-max-height p-3">
                                <div class="form-group d-flex align-middle"
                                    *ngFor="let NoOfCylinder of NoOfCylindersArr">
                                    <input type="checkbox" class="checkbox">
                                    <a class="mx-2 black text-decoration-none">
                                        {{NoOfCylinder}} </a>
                                </div>
                            </div>
                            <h3 class="my-2 font-weight-bold"> Technical Features </h3>
                            <div class=" sidebar-item-max-height p-3">
                                <div class="form-group d-flex align-middle"
                                    *ngFor="let TechnicalFeature of TechnicalFeaturesArr">
                                    <input type="checkbox" class="checkbox">
                                    <a class="mx-2 black text-decoration-none">
                                        {{TechnicalFeature}} </a>
                                </div>
                            </div>
                            <h3 class="my-2 font-weight-bold"> Extras </h3>
                            <div class=" sidebar-item-max-height p-3">
                                <div class="form-group d-flex align-middle" *ngFor="let Extras of ExtrasArr">
                                    <input type="checkbox" class="checkbox">
                                    <a class="mx-2 black text-decoration-none">
                                        {{Extras}} </a>
                                </div>
                            </div>
                            <h3 class="my-2 font-weight-bold"> Horsepower </h3>
                            <div class=" sidebar-item-max-height p-3">
                                <div class="form-group d-flex align-middle" *ngFor="let Horsepower of HorsepowerArr">
                                    <input type="checkbox" class="checkbox">
                                    <a class="mx-2 black text-decoration-none">
                                        {{Horsepower}} </a>
                                </div>
                            </div>
                            <h3 class="my-2 font-weight-bold"> Transmission Type </h3>
                            <div class=" sidebar-item-max-height p-3">
                                <div class="form-group d-flex align-middle"
                                    *ngFor="let TransmissionType of TransmissionTypeArr">
                                    <input type="checkbox" class="checkbox">
                                    <a class="mx-2 black text-decoration-none">
                                        {{TransmissionType}} </a>
                                </div>
                            </div>
                            <h3 class="my-2 font-weight-bold"> Color </h3>
                            <div class=" sidebar-item-max-height p-3">
                                <div class="form-group d-flex align-middle" *ngFor="let Color of ColorArr">
                                    <input type="checkbox" class="checkbox">
                                    <a class="mx-2 black text-decoration-none">
                                        {{Color}} </a>
                                </div>
                            </div>
                            <h3 class="my-2 font-weight-bold"> Warranty </h3>
                            <div class=" sidebar-item-max-height p-3">
                                <div class="form-group d-flex align-middle" *ngFor="let Warranty of WarrantyArr">
                                    <input type="checkbox" class="checkbox">
                                    <a class="mx-2 black text-decoration-none">
                                        {{Warranty}} </a>
                                </div>
                            </div>
                            <h3 class="my-2 font-weight-bold"> Fuel Type </h3>
                            <div class=" sidebar-item-max-height p-3">
                                <div class="form-group d-flex align-middle" *ngFor="let FuelType of FuelTypeArr">
                                    <input type="checkbox" class="checkbox">
                                    <a class="mx-2 black text-decoration-none">
                                        {{FuelType}} </a>
                                </div>
                            </div>
                            <h3 class="my-2 font-weight-bold"> Regional Specs </h3>
                            <div class=" sidebar-item-max-height p-3">
                                <div class="form-group d-flex align-middle"
                                    *ngFor="let RegionalSpec of RegionalSpecsArr">
                                    <input type="checkbox" class="checkbox">
                                    <a class="mx-2 black text-decoration-none">
                                        {{RegionalSpec}} </a>
                                </div>
                            </div>
                            <h3 class="my-2 font-weight-bold"> Photos </h3>
                            <div class="form-group d-flex align-middle">
                                <input type="checkbox" class="checkbox">
                                <a class="mx-2 black text-decoration-none"> Show ads with photos only </a>
                            </div>
                            <button class="btn btn-danger my-3 btn-block">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-5 col-md-7 my-3" *ngIf="show_productList">
            <div class="mx-4" *ngFor="let Product of Products">
                <div class="product pl-3" id="{{Product.id}}">
                    <div class="badge badge-dark font-weight-normal">Featured</div>
                    <div class="form-inline justify-content-between">
                        <h3 class="font-weight-bold"> {{Product.name}} </h3>
                        <h3 class="red font-weight-bold"> {{Product.price}} </h3>
                    </div>
                    <div class="row">
                        <div class="col-sm-3" (click)="gotoProductDetail(Product)">
                            <img src="{{Product.src}}" class="product_img">
                        </div>
                        <div class="col-sm-9">
                            <h3 class="mb-0 font-weight-bold">{{Product.bread}}</h3>
                            <h5>{{Product.date}}</h5>
                            <div class="row">
                                <div class="col-sm-3">
                                    <h5>Year : <b>{{Product.year}}</b> </h5>
                                    <h5>Kilometers : <b>{{Product.km}}</b> </h5>
                                </div>
                                <div class="col-sm-3">
                                    <h5>Door : <b>{{Product.door}}</b> </h5>
                                    <h5>Color: <b>{{Product.color}}</b></h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="dropdown-divider"></div>
            </div>
        </div>
        <div class="col-sm-7 col-md-9 my-3" *ngIf="show_case">
            <div class="mx-4">
                <div class="pl-3">
                    <div class="form-inline">
                        <h1 class="font-weight-bold"> {{product.name}} </h1>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 carousel slide" id="product_Carousel" data-ride="carousel">
                            <ul class="carousel-indicators">
                                <li data-target="#product_Carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#product_Carousel" data-slide-to="1"></li>
                                <li data-target="#product_Carousel" data-slide-to="2"></li>
                                <li data-target="#product_Carousel" data-slide-to="3"></li>
                            </ul>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <img class="product_detail_img"
                                        src="../../../../../assets/Image/motors/product/usedcar/imagewesd.webp"
                                        alt="Los Angeles" width="1100" height="500">
                                </div>
                                <div class="carousel-item">
                                    <img class="product_detail_img"
                                        src="../../../../../assets/Image/motors/product/usedcar/image (5).webp"
                                        alt="Chicago" width="1100" height="500">
                                </div>
                                <div class="carousel-item">
                                    <img class="product_detail_img"
                                        src="../../../../../assets/Image/motors/product/usedcar/image (6).webp"
                                        alt="New York" width="1100" height="500">
                                </div>
                                <div class="carousel-item">
                                    <img class="product_detail_img"
                                        src="../../../../../assets/Image/motors/product/usedcar/image (7).webp"
                                        alt="New York" width="1100" height="500">
                                </div>
                            </div>

                            <!-- Left and right controls -->
                            <a class="carousel-control-prev" href="#product_Carousel" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#product_Carousel" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                        <div class="col-sm-4">
                            <div class="product_btn_group mb-3">
                                <div class="product_btn mb-2 font-weight-normal"> Chat With Seller </div>
                                <div class="product_btn font-weight-normal" > Show Phone Number </div>
                            </div>
                            <div class="product_btn_group mb-3">
                                <h3 class="lightgray mb-0"> Location </h3>
                                <h3 class="mb-0">Bussiness Baby, <i class="lightgray">Dubai</i></h3>
                                <div class="product_btn font-weight-normal"><i class="fa fa-map-marker"></i> Show Map </div>
                            </div>
                            <div class="report_ad"><i class="fa fa-flag mx-2"></i>Report Ad</div>
                        </div>
                    </div>
                    <h1 class="red mb-0"> AED 155,000 </h1>
                    <h5> Posted on: {{product.date}}</h5>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="row pl-2 pb-2">
                                <div class="col-sm-3 px-1">
                                    <div class="feature_field px-0">
                                        <h5 class="mb-0">HISTORY<br>CHECK</h5>
                                        <i class="fa fa-car"></i>
                                        <h5 class="mb-0">Request</h5>
                                    </div>
                                </div>
                                <div class="col-sm-3 px-1">
                                    <div class="feature_field px-0">
                                        <h5 class="mb-0">YEAR</h5>
                                        <img src="../../../../../assets/icon/Calendar.png" width="40px">
                                        <h5 class="mb-0">{{product.year}}</h5>
                                    </div>
                                </div>
                                <div class="col-sm-3 px-1">
                                    <div class="feature_field px-0">
                                        <h5 class="mb-0">KILOMETERS</h5>
                                        <img src="../../../../../assets/icon/Km.png" width="40px">
                                        <h5 class="mb-0">{{product.km}}</h5>
                                    </div>
                                </div>
                                <div class="col-sm-3 px-1">
                                    <div class="feature_field px-0">
                                        <h5 class="mb-0"> WARRANTY </h5>
                                        <img src="../../../../../assets/icon/Warranty.png" width="40px">
                                        <h5 class="mb-0">Yes</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row pl-2 mb-3">
                                <div class="col-sm-3 px-1">
                                    <div class="feature_field px-0">
                                        <h5 class="mb-0"> SPECS</h5>
                                        <img src="../../../../../assets/icon/Region.png" width="40px">
                                        <h5 class="mb-0">GCC</h5>
                                    </div>
                                </div>
                                <div class="col-sm-3 px-1">
                                    <div class="feature_field px-0">
                                        <h5 class="mb-0">TRANSMISSION</h5>
                                        <img src="../../../../../assets/icon/Automatic.png" width="40px">
                                        <h5 class="mb-0">Request</h5>
                                    </div>
                                </div>
                                <div class="col-sm-3 px-1">
                                    <div class="feature_field px-0">
                                        <h5 class="mb-0"> BODY TYPE</h5>
                                        <img src="../../../../../assets/icon/BodyCondition.png" width="40px">
                                        <h5 class="mb-0">SUV</h5>
                                    </div>
                                </div>
                                <div class="col-sm-3 px-1">
                                    <div class="feature_field px-0">
                                        <h5 class="mb-0">TRIM</h5>
                                        <img src="../../../../../assets/icon/Trim.png" width="40px">
                                        <h5 class=" mb-0">Supercharged</h5>
                                    </div>
                                </div>
                            </div>
                            <div class="row pl-2">
                                <table class="table table-striped">
                                    <colgroup>
                                        <col width="40%">
                                        <col width="60%">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <td><i class="fa fa-car"></i> Body condition</td>
                                            <td>Perfect inside and out</td>
                                        </tr>
                                        <tr>
                                            <td><i class="fa fa-wrench"></i>Mechanical condition</td>
                                            <td>Perfect inside and out</td>
                                        </tr>
                                        <tr>
                                            <td><img src="../../../../../assets/icon/FuelType.png" width="20px">Fuel Type</td>
                                            <td>Gasoline</td>
                                        </tr>
                                        <tr>
                                            <td>Color</td>
                                            <td>{{product.color}}</td>
                                        </tr>
                                        <tr>
                                            <td>Doors</td>
                                            <td>{{product.door}}</td>
                                        </tr>
                                        <tr>
                                            <td>Cylinders</td>
                                            <td>6</td>
                                        </tr>
                                        <tr>
                                            <td>Seller Type</td>
                                            <td>Owner</td>
                                        </tr>
                                        <tr>
                                            <td>House Power</td>
                                            <td>300-400</td>
                                        </tr>
                                        <tr>
                                            <td>Extras</td>
                                            <td>Power Windows, Power Locks, Keyless Entry, Keyless Start, Power Sunroof,
                                                Sunroof, Moonroof, Power Seats, Leather Seats, Heated Seats, Cooled
                                                Seats, Air Conditioning, Climate Control, Heat, AM/FM Radio, CD Player,
                                                Aux Audio In, Satellite Radio, Premium Sound System, Navigation System,
                                                DVD Player, Bluetooth System, Alarm/Anti-Theft System, Power Mirrors,
                                                Premium Lights, Fog Lights, Premium Wheels/Rims, Performance Tyres,
                                                Brush Guard, Body Kit, Premium Paint, Rear View Camera</td>
                                        </tr>
                                        <tr>
                                            <td>Technical Features</td>
                                            <td>4 Wheel Drive, All Wheel Drive, Tiptronic Gears, Cruise Control,
                                                Anti-Lock Brakes/ABS, Front Airbags, Side Airbags, Dual Exhaust, Power
                                                Steering</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="row p-3">
                                <div class="badge badge-dark p-2 font-weight-normal badge-pill mx-2"> Full Service
                                    History</div>
                                <div class="badge badge-dark p-2 font-weight-normal badge-pill"> Negotiable </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="row px-3">
                                <h1> Condition and History </h1>
                                <div class="d-flex justify-content-between w-100">
                                    <div><i class="fa fa-car"></i> Accident History Check</div>
                                    <div><a class="red"> Request Report</a></div>
                                    <div class="badge badge-pill badge-light"> <i class="fa fa-info p-1"></i></div>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <div class="row px-3" style="font-size: 16px;">
                                <h1> Description </h1>
                                <h1> (الشرح بالعربي في الأسفل) </h1>
                                <div>Range Rover Sport Supercharged HSE Fully Loaded with options and very clean car in
                                    Excellent condition.</div><br>
                                <div>GCC Very Clean car under warranty with Full Service History at the agency</div><br>
                                <div>Nice white Color Outside with two tone Beige and brown clean leather interior.
                                </div><br>
                                <div>Powered by 3.0L Supercharged V6 Engine that produces 340-HP, mated with
                                    paddle-shifted ZF eight-speed automatic Transmission which take the car from 0 to
                                    100 km/h in 5.9 seconds.</div><br>
                                <div>This car loaded with many options such as:</div><br>
                                <div class="gray">
                                    <p>- Haldex all-wheel-drive system </p>
                                    <p>- Fully Panoramic Roof.</p>
                                    <p>- Blindspot Monitoring. </p>
                                    <p>- Automatic Active High Beam LED Headlights.</p>
                                    <p>- Meridian High Definition Surround Sound System.</p>
                                    <p>- Apple Car Play</p>
                                    <p>- Android Auto</p>
                                    <p>- Electronic Adaptive Steering wheel.</p>
                                    <p>- Auto Climate Control with Dual Temp Zones</p>
                                    <p>- Active Driving Modes for all Terrains including off-road.</p>
                                    <p>- Tire Pressure Monitor.</p>
                                    <p>- GCC Navigation</p>
                                    <p>- Satellite and HD radio.</p>
                                    <p>- Rearview Camera.</p>
                                    <p>- Reverse traffic detection.</p>
                                    <p>- Rear and Front Parking Sensors.</p>
                                    <p>- Driver-adaptive transmission with Pedal Shift.</p>
                                    <p>- Haldex 5 center-differential clutch pack</p>
                                    <p>- Tow Hitch Assist</p>
                                    <p>- Tow Assist</p>
                                    <p>- Trailer Stability Assist</p>
                                    <p>- Sport's air dampers wit ride hight control.</p>
                                    <p>- Variable-ratio steering</p>
                                    <p>- Single-speed Torsen center differential</p>
                                    <p>- Active rear locking differential.</p>
                                    <p>- Land Rover's Terrain Response 2 traction management system</p>
                                    <p>- Huge 20-inch Black Aluminium Rims.</p>
                                    <p>- Cooled Seats</p>
                                    <p>- Heated Seats</p>
                                    <p>- Memory Seats, mirrors, and steering.</p>
                                    <p>- Rear Seats adjusting with reclining seat backs.</p>
                                    <p>- USB charging port for every passenger.</p>
                                    <p>- Automatic Day/Night Lights ON/Off</p>
                                    <p>- Automatic Wipers / Rain Sensor</p>
                                    <p>- Anti-theft System</p>
                                    <p>- Engine Immobilizer.</p>
                                    <p>- Electrochromic rear-view mirrors.</p>
                                    <p>- Multi Function 8-inch touchscreen.</p>
                                    <p>- Multi Function Steering Wheel.</p>
                                    <p>- Electric folding side mirrors</p>
                                    <p>- Power Adjustable Steering Wheel</p>
                                    <p>- Front side-impact airbags </p>
                                    <p>- Side curtain airbags</p>
                                    <br>
                                    <p>For viewing please call : 050 / 70 71 701</p>
                                    <br><br>
                                </div>
                                <div class="font-weight-bold gray">
                                    <p>رانج روفر سبورت سوبرشارج اتش اس ئي نظيفة ماشي قليل مع الكثير من المواصفات</p>
                                    <br>
                                    <p>خليجي تحت الضمان مع تشييكات وكالة بالكامل</p><br>
                                    <p>لون ابيض ميتاليك من الخارج مع جلد لونين بني وبيج مميز من الداخل</p><br>
                                    <p>محرك من 6 اسطوانات بسعة 3.0 ليتر ومزود بشاحن سوبرشارج والذي يولد قوة 340 حصان، مع
                                        ناقل حركة زد اف متطور من 8 سرعات والذي يؤدي الى انطلاقة من صفر إلى 100 كم في 5.9
                                        ثانية </p><br>
                                    <p>:تأتي مع الكثير من المواصفات والتي تتضمن </p><br>
                                    <p>- نظام هالدكس المطور للدفع الرباعي </p>
                                    <p>- سقف بانوراما بالكامل</p>
                                    <p>- نظام النقطة العمياء</p>
                                    <p>- اضواء أتوماتيكية ال ئي دي ذكية.</p>
                                    <p>- نظام ميريديان الصوتي المحيطي</p>
                                    <p>- نظام ابل كاربلاي للتواصل مع السيارة</p>
                                    <p>- نظام انرويد أوتو </p>
                                    <p>- مقود ديناميكي الكتروني </p>
                                    <p>- مكيف متعدد المناطق</p>
                                    <p>- نظام التحكم الديناميكي بالقيادة لكافة الطرقات بما في ذلك الطرق الوعرة</p>
                                    <p>- نظام مراقبة ضغط الاطارات</p>
                                    <p>- نافيجيشن خليجي</p>
                                    <p>- راديو علي الدقة وراديو عن طريق الاقمار الصناعية</p>
                                    <p>- كاميرا خلفية</p>
                                    <p>- نظام التنبية من الاجسام المتحركة خلف السيارة</p>
                                    <p>- حساسات خلفية وأمامية</p>
                                    <p>- جير بنظام التكيف مع القيادة المتطور مع التحكم اليدوي التتابعي من المقود</p>
                                    <p>- نظام حزمة الكلاتشات هادلكس المركزية الخماسية </p>
                                    <p>- نظام تخطي العقبات الوعرة</p>
                                    <p>- نظام الجر المطور</p>
                                    <p>- نظام مساعدة ثبات المقطورة </p>
                                    <p>- نظام تعليق بضغط الهواء مع التحكم بارتفاع السيارة</p>
                                    <p>- نظام توجيه ديناميكي متغير النسبة </p>
                                    <p>- نظام تفاضلي (ديفرينشيال) تورسن المركزي</p>
                                    <p>- نظام الغلق التفاضلي الفعال للديفرينشيال الخلفي</p>
                                    <p>- نظام لاند روفر للاستجابة الفعالة لحالة الطرق مع نظام التحكم بالثبات لمختلف
                                        لطرقات </p>
                                    <P>- عجلات الومنيوم رياضية سوداء بقياس 20 انش</P>
                                    <P>- تبريد كراسي</P>
                                    <P>- تسخين كرسي </P>
                                    <P>- تسخين المقود</P>
                                    <P>- ذاكرة للكراسي والمرايا والمقود</P>
                                    <P>- كراسي خلفية قابلة للتعديل لراحة الركاب في الخلف</P>
                                    <P>- لكل راكب USB مدخل يو اس بي </P>
                                    <P>- تشغيل اوتوماتيكي للأضواء أثناء الليل</P>
                                    <P>- تشغيل أوتوماتيكي للمساحات / حساسات للمطر</P>
                                    <P>- نظام مضاد للسرقة</P>
                                    <P>- نظام ايقاف المحرك في حالة السرقة</P>
                                    <P>- تعتيم اتوماتيكي للمرايا الخلفية</P>
                                    <P>- شاشة كبيرة بقياس 8 انش متعددة الاستخدامات</P>
                                    <P>- عجلة قيادة متعددة الاستخدامات</P>
                                    <P>- مرايا تغلق كهربائيا</P>
                                    <P>- عجلة قيادة قابلة للضبط كهربائيا</P>
                                    <P>- وسائد هوائية جانبية امامية </P>
                                    <P>- ستائر هوائية جانبية</P>
                                    <br>
                                    <P>للتواصل اتصل على : 701 71 70 / 050</P>
                                    <br>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>