/* Common Class */
.w-40{
    width: 40%;
}
.font-14{
    font-size: 14px;
}
.btn-danger{
    background: red !important;
}
.input-group-prepend select{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.tab-content{
    margin-top: 0px !important;
}
.active{
    background: #343a40 !important;
    color: white !important;
    border-bottom: 0 !important; 
}
.white{
    color: white;
}
.btn-white{
    border: 1px solid white;
    border-radius: 8px;
}
.btn-white:hover{    
    background: rgba(187, 1, 1);
    border-color: rgba(187,1,1);
}
/* End Common Class */
.estate-searchBox{
    background: #343a40;
    width: 100%;
}

.numberRange {
    position: absolute;
    background: white;
    color: rgb(182, 184, 185);
    margin-top: 4px;
    box-sizing: border-box;
    border-radius: 6px;
    border: 1px solid rgb(43, 45, 46);
    height: auto;
    padding: 16px;
  }
  
  .numberRange div {
    display: flex;
    align-items: flex-end;
    -webkit-box-pack: center;
    justify-content: center;
  }
  
  .number {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.43;
    color: rgb(43, 45, 46);
  }
  
  .number input {
    display: block;
    width: 100px;
    border-radius: 6px;
    border: 1px solid rgb(182, 184, 185);
    height: 36px;
    padding: 8px 12px;
    box-sizing: border-box;
    font-size: 14px;
    box-shadow: none;
  }
  .rangeBtn {
    background: transparent;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    border: 1px solid white;
  }  
  .rangeBtn:focus{
      background-color: transparent !important;
    outline: none !important;
  }
  .more{
      position: absolute;
      right: 14px;
      width: 390px;
      height: 350px;
      overflow-y: auto;
      /* padding: 10px; */
      background: white;
      box-shadow: 0 1px 4px #151515;
      z-index: 100;
  }
  .column-2{
      column-count: 2;
      column-gap: 0;
  }
  .moreSearchBtn{
    width: 100%;
    box-shadow: 0 0 5px #151615;
    position: sticky;
    left: 0px;
    bottom: 0px;
    box-sizing: border-box;
    background: white;
  }
  .moreSearchBtn button{
      background: red;
      color: white;
  }
  .content{
      margin: 20px 12%;
  }
  .promoted-img{
      border-radius: 15px;
      width: 100%;
      height: 270px;
      object-fit: cover;
  }
  .caption{
      position: absolute;
      background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0 , 0, 0.7));
      border-radius: 15px;
      padding: 15px;
      box-sizing: border-box;
      width: 92%;
      height: 100%;
      top: 0;
  }
  .caption:hover{
      cursor: pointer;
      box-shadow: 2px 2px 5px #151515;
      border: 1px solid #343434;
      transition: 0.2s;
  }
  .picsum-img-wrapper{
      height: 220px !important;
      border-radius: 15px !important;
  }
  .picsum-img-wrapper img{
      object-fit: cover;
      border-radius: 15px !important;
      height: 220px;
      width: 340px !important;
  }
  .master{
      border: 1px solid #ccc;
      border-radius: 9px;
      padding: 20px 5px;
      box-sizing: border-box;
  }
  .master img{
      object-fit: cover;
  }