<div class="footer py-4">
    <div class="container fluid">
    <div class="row">
        <div class="card col-md-2 col-sm-4 pr-0">
            <div class="card-body">
                <a class="card-title">Company</a>
                <a class="card-link d-block" href="">About Us</a>
                <a class="card-link d-block" href="">Advertising</a>
                <a class="card-link d-block" href="">Careers</a>
                <a class="card-link d-block" href="">Terms of Use</a>
                <a class="card-link d-block" href="">Privacy Policy</a>
                <a class="card-link d-block" href="">Blog</a>
            </div>
        </div>
        <div class="card col-md-2 col-sm-4 pr-0">
            <div class="card-body">
                <a class="card-title">UAE</a>
                <a class="card-link d-block" href="">Dubai</a>
                <a class="card-link d-block" href="">Abu Dhabi</a>
                <a class="card-link d-block" href="">Ras al Khaimah</a>
                <a class="card-link d-block" href="">Sharjah</a>
                <a class="card-link d-block" href="">Fujairah</a>
                <a class="card-link d-block" href="">Ajman</a>
                <a class="card-link d-block" href="">Umm al Quwain</a>
                <a class="card-link d-block" href="">Al Ain</a>
            </div>
        </div>
        <div class="card col-md-2 col-sm-4 pr-0">
            <div class="card-body">                       
                <a class="card-title">Other Countries</a>
                <a class="card-link d-block" href="">Egypt</a>
                <a class="card-link d-block" href="">Bahrain</a>
                <a class="card-link d-block" href="">Saudi Arabia</a>
                <a class="card-link d-block" href="">Lebanon</a>
                <a class="card-link d-block" href="">Kuwait</a>
                <a class="card-link d-block" href="">Oman</a>
                <a class="card-link d-block" href="">Qatar</a>
                <a class="card-link d-block" href="">Pakistan</a>
            </div>
        </div>
        <div class="card col-md-2 col-sm-4 pr-0">
            <div class="card-body">    
                <a class="card-title">Get Social</a>
                <a class="card-link d-block" href="">Facebook</a>
                <a class="card-link d-block" href="">Twitter</a>
                <a class="card-link d-block" href="">Youtube</a>
                <a class="card-link d-block" href="">Instagram</a>
            </div>
        </div>
        <div class="card col-md-2 col-sm-4 pr-0">
            <div class="card-body">
                <a class="card-title">Support</a> 
                <a class="card-link d-block" href="">Help</a>
                <a class="card-link d-block" href="">Contact Us</a>
            </div>
        </div>
        <div class="card col-md-2 col-sm-4 pr-0">
            <div class="card-body">
                <a class="card-title">Languages</a>
                <a class="card-link d-block" href="">English</a>
                <a class="card-link d-block" href="">العربية</a>
            </div>
        </div>
    </div>
</div>
</div>