.footer{
    background: #343a40;
    width: 100%;
}
.card-link{
    color: #bbb;
    margin-left: 0 !important;
}
.card-link:hover{
    text-decoration: underline;
}
.card{
    background: transparent;
    border: none;    
}
.card-title{
    font-size: 18px;
    color: #bbb;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}