<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 px-5">
        <p class="h4 text-center py-4">Auto-fill your car details!<br> Enter your VIN / Chassis number</p>
        <p class="small text-secondary help" data-toggle="modal" data-target="#helpModal"><span
                class="badge badge-secondary badge-pill"><i class="fa fa-info"></i></span> What is a VIN / Chassis
            number?</p>
        <div class="p-3 ">
            <img class="w-100" src="../../../../../../assets/icon/vin_details.png">
        </div>
        <p class="h7"><i class="fa fa-check px-2"></i>Place your ad faster with auto-fill</p>
        <p class="h7"><i class="fa fa-check px-2"></i>Attract more buyers with a free CarReport badge</p>
        <input type="text" class="form-control mt-4" placeholder="Enter VIN/Chassis number">
        <p class="small">This number will not show on your ad</p>
        <button class="btn btn-danger btn-block py-2 my-3">Auto-fill my car details</button>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="modal fade" id="helpModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="h4 pt-5">What is a VIN / Chassis number?</p>
                <p class="h7 pt-3">Your VIN / Chassis number is a unique character code <br> used to identify individual motor vehicles.</p>
                <div class="dropdown-divider"></div>
                <p class="h4 py-3">Where can I find it?</p>
                <p class="h7">On your vehicle registration card (Mulkiya)</p>
                <div class="px-5">
                    <img class="px-5 w-100" src="../../../../../../assets/icon/vin_details.png">
                </div>
                <p class="h7 pt-5">On your vehicle's windshield.</p>
                <div class="px-5">
                    <img class="px-5 w-100" src="../../../../../../assets/Image/place-ad/vin-info-wind-shield.png">
                </div>
            </div>
        </div>
    </div>
</div>