<div class="container">
    <div class="row">
        <div class="col-md-12 col-sm-6">
            <div class="searchBox my-5 text-center">
                <h1 class="white title">Your favorite place for great deals on secondhand items</h1>
                <input type="search" class="search" placeholder="Enter Keyword...">
            </div>
        </div>
    </div>
    <div class="row mb-5 listGroup">
        <div class="col-lg-2 col-md-4 col-sm-6 pr-0 mb-2">
            <div class="py-3 text-center listBox container">
                <h5 class="font-weight-bold mb-0"> SERVICE </h5>
                <h3 class="font-weight-bold mb-0"> 310 </h3>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pr-0 mb-2">
            <div class="py-3 text-center listBox container">
                <h5 class="font-weight-bold mb-0"> CAR LIFT </h5>
                <h3 class="font-weight-bold mb-0">99</h3>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pr-0 mb-2">
            <div class="py-3 text-center listBox container">
                <h5 class="font-weight-bold mb-0">FREELANCERS</h5>
                <h3 class="font-weight-bold mb-0">50</h3>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pr-0 mb-2">
            <div class="py-3 text-center listBox container">
                <h5 class="font-weight-bold mb-0"> DOMESTIC </h5>
                <h3 class="font-weight-bold mb-0">24</h3>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pr-0 mb-2">
            <div class="py-3 text-center listBox container">
                <h5 class="font-weight-bold mb-0"> EDUCATION </h5>
                <h3 class="font-weight-bold mb-0"> 75 </h3>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pr-0 mb-2">
            <div class="py-3 text-center listBox container">
                <h5 class="font-weight-bold mb-0"> CHILDCARE</h5>
                <h3 class="font-weight-bold mb-0">32</h3>
            </div>
        </div>
    </div>
    <div class="list-title text-dark mb-3">Featured Listings</div>
    <div class="row mb-5 listings mx-auto">
        <div class="col-lg-2 col-md-4 col-sm-6 pr-0 mb-2">
            <div class=" text-center listBox">
                <img class="img-responsive" src="../../../../assets/Image/community/banner/image (1).webp" width="100%">
                <div class="">
                    <div class="card-title mb-0">
                        <h5 class="font-weight-bold mb-0"> 5 tips for photographing the pr... </h5>
                    </div>
                    <div class="card-text mb-3"><small>Aug. 3. 2020</small> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pr-0 mb-2">
            <div class=" text-center listBox">
                <img class="img-responsive" src="../../../../assets/Image/community/banner/image (2).webp" width="100%">
                <div class="">
                    <div class="card-title mb-0">
                        <h5 class="font-weight-bold mb-0"> 5 tips for photographing the pr... </h5>
                    </div>
                    <div class="card-text mb-3"><small>Aug. 3. 2020</small> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pr-0 mb-2">
            <div class=" text-center listBox">
                <img class="img-responsive" src="../../../../assets/Image/community/banner/image (3).webp" width="100%">
                <div class="">
                    <div class="card-title mb-0">
                        <h5 class="font-weight-bold mb-0"> 5 tips for photographing the pr... </h5>
                    </div>
                    <div class="card-text mb-3"><small>Aug. 3. 2020</small> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pr-0 mb-2">
            <div class=" text-center listBox">
                <img class="img-responsive" src="../../../../assets/Image/community/banner/image (4).webp" width="100%">
                <div class="">
                    <div class="card-title mb-0">
                        <h5 class="font-weight-bold mb-0"> 5 tips for photographing the pr... </h5>
                    </div>
                    <div class="card-text mb-3"><small>Aug. 3. 2020</small> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pr-0 mb-2">
            <div class=" text-center listBox">
                <img class="img-responsive" src="../../../../assets/Image/community/banner/image.webp" width="100%">

                <div class="">
                    <div class="card-title mb-0">
                        <h5 class="font-weight-bold mb-0"> 5 tips for photographing the pr... </h5>
                    </div>
                    <div class="card-text mb-3"><small>Aug. 3. 2020</small> </div>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-6 pr-0 mb-2">
            <div class=" text-center listBox">
                <img class="img-responsive" src="../../../../assets/Image/community/banner/image (1).webp" width="100%">
                <div class="">
                    <div class="card-title mb-0">
                        <h5 class="font-weight-bold mb-0"> 5 tips for photographing the pr... </h5>
                    </div>
                    <div class="card-text mb-3"><small>Aug. 3. 2020</small> </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-between mb-3">
        <div class="list-title text-dark">Latest news from Salman</div>
        <a class="red text-decoration-none all-blog" href="">All in Salman blog <i
                class="red fa fa-long-arrow-right"></i></a>
    </div>
    <div class="row p-0 mb-5">
        <div class="col-lg-3 col-md-6 col-sm-12 py-2 mx-0 carbox">
            <div class="card-body p-0">
                <img class="img-responsive rounded" src="./../../../../assets/Image/classified/news/Blog-02-360x240.jpg"
                    width="100%">
                <div class="">
                    <div class="card-title">
                        <h3 class="font-weight-bold mb-0"> 5 tips for photographing the pr... </h3>
                    </div>
                    <div class="card-text mb-3"> Aug. 3. 2020</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 py-2 mx-0 carbox">
            <div class="card-body p-0">
                <img class="img-responsive rounded"
                    src="./../../../../assets/Image/classified/news/Blog-6-Aug-01-360x240.jpg" width="100%">
                <div class="">
                    <div class="card-title">
                        <h3 class="font-weight-bold mb-0"> 7 ways to make some extra... </h3>
                    </div>
                    <div class="card-text mb-3"> jul. 27. 2020</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 py-2 mx-0 carbox">
            <div class="card-body p-0">
                <img class="img-responsive rounded"
                    src="./../../../../assets/Image/classified/news/Cover_Image-360x240.jpg" width="100%">
                <div class="">
                    <div class="card-title">
                        <h3 class="font-weight-bold mb-0"> The New, The Fresh & The Ori... </h3>
                    </div>
                    <div class="card-text mb-3"> jul. 7. 2020</div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-12 py-2 mx-0 carbox">
            <div class="card-body p-0">
                <img class="img-responsive rounded" src="./../../../../assets/Image/classified/news/Image01-360x240.jpg"
                    width="100%">
                <div class="">
                    <div class="card-title">
                        <h3 class="font-weight-bold mb-0"> Dubai trafic rules and regula... </h3>
                    </div>
                    <div class="card-text mb-3"> Aug. 3. 2020</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-5 app-banner border-radius ml-1">
        <div class="col-sm-3 py-3">
            <span style="font-size: 18px">Find amazing deals on the go.</span>
            <p class="red" style="font-size: 18px"> Download the app now!</p>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-5 mx-auto py-4 text-center">
            <img src="../../../../assets/icon/appstore.png" class="img-responsive mx-4">
            <img src="../../../../assets/icon/googleplay.png" class="img-responsive">
        </div>
    </div>
</div>