<div class="col-sm-7 col-md-8 content">
    <div class="mt-3">
        <h1 class="font-weight-bold"> 68 Garden & Outdoor for sale online in Al Ain, UAE
            <small class="gray">· 68 ads <br>
                Get the latest Garden & Outdoor deals at cheap prices.</small></h1>
    </div>
    <div class="form-inline">
        <span class="mr-2 font-weight-bold" style="font-size: 16px"> Sort: </span>
        <select id="id_sort_by" class="form-control" name="sort_by">
            <option value="o=1" selected="selected">Default</option>
            <option value="ot=desc&amp;o=2">Newest to Oldest</option>
            <option value="ot=asc&amp;o=2">Oldest to Newest</option>
            <option value="ot=desc&amp;o=3">Price Highest to Lowest</option>
            <option value="ot=asc&amp;o=3">Price Lowest to Highest</option>
        </select>
    </div>
    <div class="featured-content">
        <div>
        </div>
    </div>
</div>
<div class="row my-4">
    <div class="merchandise col-md-9" [routerLink]="['/product_detail', 3428]">
        <div class="title d-flex justify-content-between">
            <span class="merchandise-name"> Dressing Table/ Vanitu </span>
            <span class="cost red font-weight-bold"> AED 150 </span>
        </div>
        <div class="content my-2 row form-inline">
            <div class="content-img col-md-3 d-flex justify-content-between">
                <img class="img-responsive" src="../../../../../assets/Image/furnituregarden/garden & outdoor/image (1).webp">
            </div>
            <div class="col-md-9">
                <span class="merchandise-name">Furniture, Home & Garden ‪>‪ Furniture ‪>‪ Dressers & Vanities</span>
                <h5>14 December 2020</h5>
                <div class="col-8 p-0" style="column-count: 2; height:40px">
                    <div class="font-sm">Age: <b>5-10 years</b> <br> Usage: <b>Normal Usage</b></div>
                    <div class="font-sm">condition: <b>Average</b></div>
                </div>
                <div class="delivery white font-sm mt-2">Home delivery available</div>
            </div>
        </div>
        <div class="d-flex justify-content-between my-3">
            <div class="font-sm">
                <span><i class="fa fa-map-marker font-md mr-2"></i> Located: UAE > Al Ain > Khabish</span>
            </div>
            <div>
                <span><i class="fa fa-star-o font-md"></i><i class="fa fa-flag mx-4 font-md"></i></span>
            </div>
        </div>
        <div class="dropdown-divider"></div>
    </div>
</div>
<div class="row my-4">
    <div class="merchandise col-md-9" [routerLink]="['/product_detail', 3421]">
        <div class="title d-flex justify-content-between">
            <span class="merchandise-name"> Dressing Table/ Vanitu </span>
            <span class="cost red font-weight-bold"> AED 150 </span>
        </div>
        <div class="content my-2 row form-inline">
            <div class="content-img col-md-3 d-flex justify-content-between">
                <img class="img-responsive" src="../../../../../assets/Image/furnituregarden/garden & outdoor/image (2).webp">
            </div>
            <div class="col-md-9">
                <span class="merchandise-name">Furniture, Home & Garden ‪>‪ Furniture ‪>‪ Dressers & Vanities</span>
                <h5>14 December 2020</h5>
                <div class="col-8 p-0" style="column-count: 2; height:40px">
                    <div class="font-sm">Age: <b>5-10 years</b> <br> Usage: <b>Normal Usage</b></div>
                    <div class="font-sm">condition: <b>Average</b></div>
                </div>
                <div class="delivery white font-sm mt-2">Home delivery available</div>
            </div>
        </div>
        <div class="d-flex justify-content-between my-3">
            <div class="font-sm">
                <span><i class="fa fa-map-marker font-md mr-2"></i> Located: UAE > Al Ain > Khabish</span>
            </div>
            <div>
                <span><i class="fa fa-star-o font-md"></i><i class="fa fa-flag mx-4 font-md"></i></span>
            </div>
        </div>
        <div class="dropdown-divider"></div>
    </div>
</div>
<div class="row my-4">
    <div class="merchandise col-md-9" [routerLink]="['/product_detail', 273]">
        <div class="title d-flex justify-content-between">
            <span class="merchandise-name"> Dressing Table/ Vanitu </span>
            <span class="cost red font-weight-bold"> AED 150 </span>
        </div>
        <div class="content my-2 row form-inline">
            <div class="content-img col-md-3 d-flex justify-content-between">
                <img class="img-responsive" src="../../../../../assets/Image/furnituregarden/garden & outdoor/image (3).webp">
            </div>
            <div class="col-md-9">
                <span class="merchandise-name">Furniture, Home & Garden ‪>‪ Furniture ‪>‪ Dressers & Vanities</span>
                <h5>14 December 2020</h5>
                <div class="col-8 p-0" style="column-count: 2; height:40px">
                    <div class="font-sm">Age: <b>5-10 years</b> <br> Usage: <b>Normal Usage</b></div>
                    <div class="font-sm">condition: <b>Average</b></div>
                </div>
                <div class="delivery white font-sm mt-2">Home delivery available</div>
            </div>
        </div>
        <div class="d-flex justify-content-between my-3">
            <div class="font-sm">
                <span><i class="fa fa-map-marker font-md mr-2"></i> Located: UAE > Al Ain > Khabish</span>
            </div>
            <div>
                <span><i class="fa fa-star-o font-md"></i><i class="fa fa-flag mx-4 font-md"></i></span>
            </div>
        </div>
        <div class="dropdown-divider"></div>
    </div>
</div>
<div class="row my-4">
    <div class="merchandise col-md-9" [routerLink]="['/product_detail', 3843]">
        <div class="title d-flex justify-content-between">
            <span class="merchandise-name"> Dressing Table/ Vanitu </span>
            <span class="cost red font-weight-bold"> AED 150 </span>
        </div>
        <div class="content my-2 row form-inline">
            <div class="content-img col-md-3 d-flex justify-content-between">
                <img class="img-responsive" src="../../../../../assets/Image/furnituregarden/garden & outdoor/image (5).webp">
            </div>
            <div class="col-md-9">
                <span class="merchandise-name">Furniture, Home & Garden ‪>‪ Furniture ‪>‪ Dressers & Vanities</span>
                <h5>14 December 2020</h5>
                <div class="col-8 p-0" style="column-count: 2; height:40px">
                    <div class="font-sm">Age: <b>5-10 years</b> <br> Usage: <b>Normal Usage</b></div>
                    <div class="font-sm">condition: <b>Average</b></div>
                </div>
                <div class="delivery white font-sm mt-2">Home delivery available</div>
            </div>
        </div>
        <div class="d-flex justify-content-between my-3">
            <div class="font-sm">
                <span><i class="fa fa-map-marker font-md mr-2"></i> Located: UAE > Al Ain > Khabish</span>
            </div>
            <div>
                <span><i class="fa fa-star-o font-md"></i><i class="fa fa-flag mx-4 font-md"></i></span>
            </div>
        </div>
        <div class="dropdown-divider"></div>
    </div>
</div>
<div class="row my-4">
    <div class="merchandise col-md-9" [routerLink]="['/product_detail', 7453]">
        <div class="title d-flex justify-content-between">
            <span class="merchandise-name"> Dressing Table/ Vanitu </span>
            <span class="cost red font-weight-bold"> AED 150 </span>
        </div>
        <div class="content my-2 row form-inline">
            <div class="content-img col-md-3 d-flex justify-content-between">
                <img class="img-responsive" src="../../../../../assets/Image/furnituregarden/garden & outdoor/image.webp">
            </div>
            <div class="col-md-9">
                <span class="merchandise-name">Furniture, Home & Garden ‪>‪ Furniture ‪>‪ Dressers & Vanities</span>
                <h5>14 December 2020</h5>
                <div class="col-8 p-0" style="column-count: 2; height:40px">
                    <div class="font-sm">Age: <b>5-10 years</b> <br> Usage: <b>Normal Usage</b></div>
                    <div class="font-sm">condition: <b>Average</b></div>
                </div>
                <div class="delivery white font-sm mt-2">Home delivery available</div>
            </div>
        </div>
        <div class="d-flex justify-content-between my-3">
            <div class="font-sm">
                <span><i class="fa fa-map-marker font-md mr-2"></i> Located: UAE > Al Ain > Khabish</span>
            </div>
            <div>
                <span><i class="fa fa-star-o font-md"></i><i class="fa fa-flag mx-4 font-md"></i></span>
            </div>
        </div>
        <div class="dropdown-divider"></div>
    </div>
</div>
<div class="row my-4">
    <div class="merchandise col-md-9" [routerLink]="['/product_detail', 7543]">
        <div class="title d-flex justify-content-between">
            <span class="merchandise-name"> Dressing Table/ Vanitu </span>
            <span class="cost red font-weight-bold"> AED 150 </span>
        </div>
        <div class="content my-2 row form-inline">
            <div class="content-img col-md-3 d-flex justify-content-between">
                <img class="img-responsive" src="../../../../../assets/Image/furnituregarden/furniture/image (1).webp">
            </div>
            <div class="col-md-9">
                <span class="merchandise-name">Furniture, Home & Garden ‪>‪ Furniture ‪>‪ Dressers & Vanities</span>
                <h5>14 December 2020</h5>
                <div class="col-8 p-0" style="column-count: 2; height:40px">
                    <div class="font-sm">Age: <b>5-10 years</b> <br> Usage: <b>Normal Usage</b></div>
                    <div class="font-sm">condition: <b>Average</b></div>
                </div>
                <div class="delivery white font-sm mt-2">Home delivery available</div>
            </div>
        </div>
        <div class="d-flex justify-content-between my-3">
            <div class="font-sm">
                <span><i class="fa fa-map-marker font-md mr-2"></i> Located: UAE > Al Ain > Khabish</span>
            </div>
            <div>
                <span><i class="fa fa-star-o font-md"></i><i class="fa fa-flag mx-4 font-md"></i></span>
            </div>
        </div>
        <div class="dropdown-divider"></div>
    </div>
</div>
<div class="row my-4">
    <div class="merchandise col-md-9" [routerLink]="['/product_detail', 37453]">
        <div class="title d-flex justify-content-between">
            <span class="merchandise-name"> Dressing Table/ Vanitu </span>
            <span class="cost red font-weight-bold"> AED 150 </span>
        </div>
        <div class="content my-2 row form-inline">
            <div class="content-img col-md-3 d-flex justify-content-between">
                <img class="img-responsive" src="../../../../../assets/Image/furnituregarden/furniture/image (1).webp">
            </div>
            <div class="col-md-9">
                <span class="merchandise-name">Furniture, Home & Garden ‪>‪ Furniture ‪>‪ Dressers & Vanities</span>
                <h5>14 December 2020</h5>
                <div class="col-8 p-0" style="column-count: 2; height:40px">
                    <div class="font-sm">Age: <b>5-10 years</b> <br> Usage: <b>Normal Usage</b></div>
                    <div class="font-sm">condition: <b>Average</b></div>
                </div>
                <div class="delivery white font-sm mt-2">Home delivery available</div>
            </div>
        </div>
        <div class="d-flex justify-content-between my-3">
            <div class="font-sm">
                <span><i class="fa fa-map-marker font-md mr-2"></i> Located: UAE > Al Ain > Khabish</span>
            </div>
            <div>
                <span><i class="fa fa-star-o font-md"></i><i class="fa fa-flag mx-4 font-md"></i></span>
            </div>
        </div>
        <div class="dropdown-divider"></div>
    </div>
</div>