<nav class="navbar navbar-expand-lg navbar-light fixed-top">
    <a class="navbar-brand ml-5 pb-0 logo" href="">SALMAN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="HeaderNavbar"
        aria-controls="demo-navbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="HeaderNavbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark font-weight-bold" href="" id="NewProject" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ProjectName}}
                </a>
                <div class="dropdown-menu" aria-labelledby="NewProject">
                    <a class="dropdown-item p-0" *ngFor="let NewProject of NewProjectArr">
                        <a class="sublist text-decoration-none" [routerLink]="['/propertynewproject/new_project_detail', NewProject.id]"
                            (click)="select($event, NewProject)"> {{NewProject.name}} </a>
                    </a>
                </div>
            </li>
            <li class="nav-item ml-3 font-weight-bold">
                <a class="nav-link text-dark" routerLink="new_project_developer">Developers</a>
            </li>
            <li class="nav-item ml-3 font-weight-bold">
                <a class="nav-link text-dark" [routerLink]="['new_project_detail_promotion', ProjectName]">Promotions</a>
            </li>
            <li class="nav-item ml-3 font-weight-bold">
                <a class="nav-link text-dark" [routerLink]="['new_project_for_developer', ProjectName]">For Developers</a>
            </li>
            <li class="nav-item ml-3 font-weight-bold">
                <a class="nav-link text-dark" routerLink="/propertyforsale">Properties for sale {{ProjectName}}</a>
            </li>
        </ul>
        <form class="form-inline" action="/action_page.php">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search...">
                <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                </div>
            </div>
        </form>
    </div>
</nav>
<router-outlet></router-outlet>